body {
    padding: 20px;
}

#contacts-list {
    margin-bottom: 20px;
}

#contacts-table {
    width: 100%;
    border-collapse: collapse;
}

#contacts-table th, #contacts-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

#contacts-table th {
    background-color: #f2f2f2;
    text-align: left;
}

#contacts-table tr:nth-child(even){background-color: #f2f2f2;}

#contacts-table tr:hover {background-color: #ddd;}

#contacts-table button {
    background-color: #4CAF50;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#contacts-table button:hover {
    background-color: #45a049;
}


/* Modal Styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    left: 0;
    top: 0;
    width: 50%; /* Full width */
    height: 50%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 40%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Input Field Styles */
input[type="text"] {
    width: calc(100% - 40px); /* Full-width minus padding */
    padding: 10px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Include padding in width */
}

/* Submit Button Styles */
#submitMessage {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#submitMessage:hover {
    background-color: #45a049;
}
